# Core library
numpy
colr
srsly
pydantic>=1.0.0
typer>=0.1.0,<0.2.0
wasabi
# new python feature backports
dataclasses>=0.6,<1.0; python_version < "3.7"
typing_extensions>=3.7.4.1,<4.0.0.0; python_version < "3.7"
