*.pyc
.DS_Store
doom/
.coverage
.temp-cov
.env
.pytest_cache
.terraform
.mypy_cache

# node
node_modules
.cache


/training/
/hoarding/
/images/

htmlcov
.env
venv
*.orig

__pycache__
*.egg-info

.vscode

node_modules
dist
build
coverage

libraries/website/site/
