*.pyc
.DS_Store
doom/
.coverage
/temp/
/.project
/.pydevproject
.env
.pytest_cache
.training-old/
program.prof
.terraform

models/
draws.txt
visualization

# For trained models
trained/

# node
node_modules
site/public
.cache


agents/mathy_micro
training/
training.jsonl
training_tiny.jsonl
