keras
numpy
plac
ujson
tensorflow>=2.0.0
gast==0.2.2 # because: https://github.com/tensorflow/tensorflow/issues/32319#issuecomment-529164054
cloudpickle>=1.2.2 # because: https://github.com/tensorflow/tensorflow/issues/32319#issuecomment-529164054

tensorboard
tensorflow_probability
tf-agents-nightly
tqdm
colr
pydantic

# for distributed key/value store
redislite

# Custom envs
gym
