keras
numpy
pandas
pytest
pytest-cov
plac
ujson
tensorflow_estimator
tensorflow==2.0.0-beta1
tf-agents-nightly
tb-nightly
colr
pydantic

# Custom envs
gym


# dev 
matplotlib
black
flake8
graphviz
snakeviz

pydot
# Docs 
mkdocs
mkdocs-material
markdown-include
