mypy
pytest
pytest-cov
black
flake8
graphviz
snakeviz
pydot
# Docs 
mkdocs
mkdocs-material
markdown-include
mkdocs-minify-plugin
pydoc-markdown
ruamel.yaml

# The snippets/tests need mathy. Install as a development package (-e)
-e ../mathy_python/
-e ../mathy_mkdocs/
