mypy
pytest
pytest-cov
black
flake8
graphviz
snakeviz
pydot
# Docs 
mkdocs
mkdocs-material
markdown-include
mkdocs-minify-plugin
ruamel.yaml

-e git+git@github.com:justindujardin/pydoc-markdown.git#egg=pydoc-markdown
# The snippets/tests need mathy. Install as a development package (-e)
-e ../mathy_python/
-e ../mathy_mkdocs/
