mypy
pytest
pytest-cov
black
flake8
graphviz
snakeviz
pydot
# Docs 
mkdocs
# Until the build error is fixed: https://github.com/squidfunk/mkdocs-material/issues/1469
mkdocs-material==4.6.3
markdown-include
mkdocs-minify-plugin
ruamel.yaml
# for converting snippets to ipynb notebooks
nbformat
gym

# The snippets/tests need mathy. Install as a development package (-e)
-e ../mathy_python/
-e ../mathy_pydoc/
-e ../mathy_mkdocs/
